@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-bold !text-foreground;
}

h2 {
  @apply text-2xl font-bold !text-foreground !border-none;
}

h3 {
  @apply text-xl font-bold !text-neutral-600;
}

.dark h3 {
  @apply text-xl font-bold !text-neutral-300;
}

.dark .sbdocs-wrapper,
.dark .sbdocs-preview {
  background-color: #000000;
  color: #fff;
}

.dark .sbdocs-preview {
  border: 1px solid #292929;
}

.dark .docblock-code-toggle {
  background: transparent;
  color: #d4d4d4;
}

.dark .sb-bar {
  background: transparent;
  border: 1px solid #292929;
}

.dark div:has(.docblock-code-toggle) {
  background: transparent;
}

.dark .os-theme-dark {
  background: #161616;
  color: #fff;
}

.dark .sbdocs-title {
  color: #fff;
}

.dark .docblock-argstable-head th {
  border-bottom: 1px solid #292929 !important;
}

.dark .docblock-argstable-head th > span {
  color: #bcbcbc;
}

.dark .docblock-argstable-body td {
  background: #161616 !important;
  border-bottom: 1px solid #292929 !important;
}

.dark .docblock-argstable-body tr:hover > td {
  background: #161616 !important;
}

.dark .docblock-argstable-body td {
  color: #bcbcbc !important;
}

.dark .docblock-argstable-body td span > svg {
  color: #bcbcbc !important;
}
